# Test Report

1. Test that an admin can install and setup the product. Follow the instructions in the readme-file.

2. Test that an admin can start the application. Follow the instructions in the readme-file.

3. Test that a user can navigate to the application in a web browser (localhost). Start the game and verify that it can be accessed through a web browser at specified local host.

4. Test that a user is able to start a new game of TicTacToe for 2 players (local game on one computer) by playing the game.

5. Test that two users can play the game by taking turns by playing the game.

6. Test that users are able to tell who is currently on turn by playing the game! Info should appear above the game board.

7. Test that a user is able to set a sign in a free cell by playing the game.

8. Test that the game will report if there is a winner by playing the game. A winner should be announced when 5 equal signatures are placed in a coherent row. This may need several tests. For different order of clicks and directions (horisontal vertical and diagonal).

9. Test that the game will announce draw if all cells are clicked before there is a winner by playing the game. Click all cells and make sure there is no winner. Draw should be announced.

10. Test that a user can restart the game by playing the game. Play until a winner or draw is declared and then make sure an option to play again is offered below the game board. Selecting play again should start a new game.

| Test ID | Test Description                                                                                                           | Test Method                | Test Outcome | Notes                          |
|---------|----------------------------------------------------------------------------------------------------------------------------|----------------------------|--------------|--------------------------------|
| 1       | Test that an admin can install and setup the product. Follow the instructions in the readme-file.                          | Manual                     | OK (Not retested)           |                                |
| 2       | Test that an admin can start the application. Follow the instructions in the readme-file.                                   | Manual                     | OK           |                                |
| 3       | Test that a user can navigate to the application in a web browser (localhost).                                              | Manual                     | OK           |                                |
| 4       | Test that a user is able to start a new game of TicTacToe for 2 players (local game on one computer) by playing the game.   | Manual                     | OK           |                                |
| 5       | Test that two users can play the game by taking turns.                                                                     | Manual                     | OK           |                                |
| 6       | Test that users are able to tell who is currently on turn. Info should appear above the game board.                          | Manual                     | OK           |                                |
| 7       | Test that a user is able to set a sign in a free cell.                                                                     | Manual                     | OK           |                                |
| 8       | Test that the game will report if there is a winner. A winner should be announced when 5 equal signatures are in a row.     | Manual/Multiple Scenarios  | OK           | All scenarios tested.          |
| 9       | Test that the game will announce draw if all cells are clicked and there is no winner.                                       | Manual                     | (Not tested)           |                                |
| 10      | Test that a user can restart the game. An option to play again should be offered below the game board.                       | Manual                     | OK           |                                |
